@model TravelTripProje.Models.Siniflar.Blog

@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekleme</h2>
<br />
<form class="form-group" method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br/>
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br/>
    <label>Resim</label>
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br/>
    <label>Başlık</label>
    @Html.TextAreaFor(x => x.Explanation, new { @class = "form-control" })
    <br/>
    <button class="btn btn-primary">BLOG EKLE</button>
</form>

